div.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header p {
  width: 60%;
}

h2 {
  margin-top: 20px;
  display: block;
  text-align: center;
}
div.outer {
  display: flex;
  justify-content: center;
  width: 100%;
}
div.values {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  width: 80%;
}
@media (max-width: 768px) {
  div.values {
    grid-template-columns: 1fr;
  }
}
